# A stack inicial usa variáveis fixas no docker-compose.yml de propósito.

APP_PORT=3000
NODE_ENV=production
MISSION_NAME=Artemis FIAP Lunar Base
PUBLIC_HTTP_PORT=80

MYSQL_DATABASE=lunar_mission
MYSQL_USER=lunar_user
MYSQL_PASSWORD=lunarpass
MYSQL_ROOT_PASSWORD=rootpass

REDIS_HOST=redis
REDIS_PORT=6379
