AWS_REGION=us-east-1
APP_IMAGE=123456789012.dkr.ecr.us-east-1.amazonaws.com/labnodejs-app:1.0
APP_NAME=SkyNalytix Lab Node.js
APP_URL=https://labnodejs.skynalytix.com.br
APP_SESSION_NAME=LABNODESESSID
ADMIN_TOKEN=troque-este-token

DB_HOST=labnodejs-mysql.xxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=labnodejs
DB_USER=labnodejs_user
DB_PASSWORD=sua_senha
DB_SSL=false

S3_BUCKET=labnodemedia-seu-nome
S3_REGION=us-east-1

CACHE_HOST=labnodejs-valkey-xxxxx.serverless.use1.cache.amazonaws.com
CACHE_PORT=6379
CACHE_TLS=true
CACHE_TTL_SECONDS=60

OPENSEARCH_ENDPOINT=https://vpc-labnodejs-search-xxxxxx.us-east-1.es.amazonaws.com
OPENSEARCH_USERNAME=labnodejs_admin
OPENSEARCH_PASSWORD=sua_senha_opensearch
OPENSEARCH_INDEX=products
