APP_PORT=3000
NODE_ENV=production
MISSION_NAME=Artemis FIAP Lunar Base
PUBLIC_HTTP_PORT=80

MYSQL_DATABASE=lunar_mission
MYSQL_USER=lunar_user
MYSQL_PASSWORD=troque_esta_senha
MYSQL_ROOT_PASSWORD=troque_esta_senha_root

REDIS_HOST=redis
REDIS_PORT=6379
