# Aplicação
APP_NAME=SkyNalytix Lab Node.js Local
APP_URL=http://localhost:8080
APP_SESSION_NAME=LABNODELOCALSESSID
APP_PORT=8080
NODE_ENV=production
ADMIN_TOKEN=local-dev-token

# MySQL local em container
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=labnodejs
MYSQL_USER=labnodejs_user
MYSQL_PASSWORD=labnodejs_pass
MYSQL_HOST_PORT=3307

DB_HOST=mysql
DB_PORT=3306
DB_NAME=labnodejs
DB_USER=labnodejs_user
DB_PASSWORD=labnodejs_pass
DB_SSL=false

# Redis local em container
CACHE_HOST=redis
CACHE_PORT=6379
CACHE_TLS=false
CACHE_TTL_SECONDS=60
REDIS_HOST_PORT=6379

# Elasticsearch local em container
ELASTICSEARCH_ENDPOINT=http://elasticsearch:9200
ELASTICSEARCH_INDEX=products
ELASTICSEARCH_PORT=9200

# Volume de mídia montado no container app
MEDIA_DIR=/app/public/media
